<!doctype html>
<html>
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="/scripts/jquery.cookie.js"></script>
		<script>$csrf = '{{ session['csrf'] }}';</script>
		<script src="/rpc.js"></script>
		<script src="/scripts/runner.js"></script>
		<script>
		setTimeout(function() { location.reload(); }, 60*60*1000); // Refresh hourly
		</script>
	</head>

	<body>
		<h1>Shadertest Runner</h1>

		Leave this page open.  If it crashes, just reopen it.<br>
		<br>
		<b>Warning:</b> This page will be running shaders submitted by arbitrary users.  It could crash your browser, and your user-agent and GPU/WebGL information will be seen by anyone getting information from you.  Just keep this in mind.<br>
		<br>
		<div id="gpuInfo" style="display: none">
			Before you can start Shadertest for the first time, you have to tell us a bit about your GPU.<br>
			If you're using Chrome, go to <a href="chrome://gpu">chrome://gpu</a> and copy the "GL_RENDERER" line from the "Driver Information" table here.<br>
			If you're using Firefox, go to <a href="about:support">about:support</a> and copy the "WebGL Renderer" line from the "Graphics" table here.<br>
			Renderer: <input type="text" id="renderer"><br>
			<button id="submit-info">Submit</button><br>
			<br>
		</div>

		<div id="status"></div>
		<div id="runner"></div>
	</body>
</html>
